html, body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: visible;
}

body{
    background-color: #009DFF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: sans-serif;
    
}

header{
    
    padding: 30px;
    font-size: 28px;
    color:#FFFFFF;
}

h2{
    font-size: 23px;    
}

